<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>gma-web</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- <servlet>
		<servlet-name>ProvaServlet</servlet-name>
		<servlet-class>it.polimi.gma.servlet.ProvaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProvaServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping> -->
	<servlet>
		<servlet-name>Registration</servlet-name>
		<servlet-class>it.polimi.gma.controllers.Registration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminHome</servlet-name>
		<servlet-class>it.polimi.gma.controllers.AdminHome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminHome</servlet-name>
		<url-pattern>/adminHome</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>it.polimi.gma.controllers.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<!--  <url-pattern>/</url-pattern> -->
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConsumerHome</servlet-name>
		<servlet-class>it.polimi.gma.controllers.ConsumerHome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsumerHome</servlet-name>
		<url-pattern>/consumerHome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>it.polimi.gma.controllers.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductsCatalog</servlet-name>
		<servlet-class>it.polimi.gma.controllers.ProductsCatalog</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductsCatalog</servlet-name>
		<url-pattern>/productsCatalog</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddProduct</servlet-name>
		<servlet-class>it.polimi.gma.controllers.AddProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddProduct</servlet-name>
		<url-pattern>/addProduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CompileQuestionnaire</servlet-name>
		<servlet-class>it.polimi.gma.controllers.CompileQuestionnaire</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompileQuestionnaire</servlet-name>
		<url-pattern>/compileQuestionnaire</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SubmitQuestionnaire</servlet-name>
		<servlet-class>it.polimi.gma.controllers.SubmitQuestionnaire</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubmitQuestionnaire</servlet-name>
		<url-pattern>/submitQuestionnaire</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SetProductForNewQuestionnaire</servlet-name>
		<servlet-class>it.polimi.gma.controllers.SetProductForNewQuestionnaire</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetProductForNewQuestionnaire</servlet-name>
		<url-pattern>/newQuestionnaireForm</url-pattern>
	</servlet-mapping>
</web-app>